{
    "SOUNDCLOUD_CLIENT_ID": "XXXX",

    "SOUNDCLOUD_ARTISTS_TO_INDEX": ["platform"],

    "ECHO_NEST_API_KEY": "XXXX",

    "FIREBASE_URL": "https://XXXX.firebaseio.com/",

    "AWS_ACCESS_KEY_ID": "XXXX",
    "AWS_SECRET_ACCESS_KEY": "XXXX",
    "AWS_BUCKET_NAME": "XXXX"
}
